*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header
{
width: 100%;
background-color: rgba(0, 162, 255, 0.685);
display: flex;
justify-content: space-around;
align-items: center;
text-align: center;
padding: 20px 0;
}
.logo-texto
{
 margin: auto;
 color: white;
}
body
{
	background-image: url(Img/Amarelo.png);
	background-size: cover;
	font-family: sans-serif;
	margin-top: 0;

}

.jogodeperguntas
{
	margin: 0 50%;
	background-color: rgba(0, 162, 255, 0.685);
	margin: auto;
	color: #ffffff;
	padding: 10px 0px 10px 0px;
	text-align:center;
	border-radius: 15px 15px 0px 0px;
	box-shadow: inset 0 0 1em rgb(0, 140, 255), 0 0 1em rgba(0, 162, 255, 0.637);
	margin-top: 25px;
	align-items: center;
}
.quiz {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 20px;
	color: rgb(39, 36, 36);
	background-color: rgba(255, 255, 255, 0.212);
	padding: 10px;
	margin-top: 6%;
}
.correct {
    color:rgb(255, 255, 255);
    background-color:rgba(32, 178, 88, 0.582);
}

.wrong {
    color:rgb(255, 255, 255);
    background-color:rgba(245, 67, 67, 0.582);
}
.quiz-message {
    border:1px solid #333;
    border-radius:5px;
    margin: 10px 0;
    padding: 0 15px;
    position:relative;
}
.quiz-message-close {
    position:absolute;
    top:3px;
    right: 10px;
}


nav li
{
 display:inline-block;
 margin: 0 10px;
}
nav li a
{
 font-size: 24px;
 text-decoration: none;
 color: rgb(255, 255, 255);
 padding: 10px 15px;
 border-radius: 12px;
}
nav li a:hover
{
 background-color: rgba(42, 56, 253, 0.315);
}
main
{
    margin: 0px 10%;
}
nav
{
	text-align: center;
}

